@tailwind base;
@tailwind components;
@tailwind utilities;

/* Todo use tailwind */
body {
  background-color: black;
  font-family: sans-serif;
  color: #354358;
}

.dark {
  color: whitesmoke;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #00f260, #0575e6);
}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
}
